.button {
    padding: var(--padding-input);
    border: none;
    background-color: var(--secondary-color-opacity);
    color: #fff;
    font-size: larger;
    font-weight: bold;
    border-radius: 2px;
    margin: 8px 0;
    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary-color);
}